body {
  position: relative;
}

.navbar {
  border-radius: 0;
  border-bottom: 1px #888 solid;
  padding: 2px 0;
  font-size: .875em;
  font-weight: bold;
  .navbar-brand {
    font-family: 'Amiko', sans-serif;
    font-size: 1.125em;
    transition: font-size .2s ease-out;
  }
}

.nav-alt {
  @extend .navbar;
  background: #fff;
  border-bottom: none;
  .navbar-brand {
    font-size: 14px;
    transition: font-size .2s ease-out;
    color: $main-color;
  }
}

.header {
  font-family: 'Khula', sans-serif;
  background-image: url("../images/header.jpeg");
  background-size: cover;
  background-position: left 30%;
  height: 100vh;
}

.header-text {
  text-align: center;
  padding: 8em 0;
  position: relative;
  .btn-round.btn-primary {
    margin-top: 15.6em;
  }
  h1 {
    color: #777;
    font-size: 2.5em !important;
    font-weight: bold;
  }
  @media screen and (min-width: 30em) {
    h1 {
      font-size: 1.5em !important;
    }
    .btn-round.btn-primary {
      margin-top: 5em;
    }
  }
}

#about {
  width: 100%;
  text-align: center;
  padding: 60px 0;
  background-color: $main-color;
  .btn-round {
    margin-top: 25px;
  }
}

#services {
  width: 100%;
  text-align: center;
  padding: 60px 0;
  h2 {
    margin-bottom: 80px;
  }
  h3 {
    margin-top: 20px;
  }
  p {
    font-size: 16px;
    color: #777;
    margin-top: 8px;
  }
  i.fa {
    display: block;
    color: $main-color;
  }
}

#showcase {
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  font-family: 'Amiko', sans-serif;
  cursor: pointer;
  div {
    margin: 0;
    padding: 0;
    height: 250px;
    overflow: hidden;
  }
  img {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .overlay {
    opacity: 0;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    padding-top: 10%;
    background-color: transparentize($main-color, .5);
    color: #fff;
    transition: opacity .5s;
    h3 {
      font-weight: bold;
      margin-bottom: 8%;
      font-size: 3em;
    }
  }

  .overlay:hover {
    opacity: 1;
    transition: opacity .5s;
  }
}

#contact {
  padding: 60px 0;
  text-align: center;
  p.lead {
    margin: 3em 0 1em;
  }
  .contact {
    font-size: 18px;
    margin-top: .2em;
  }
}

h2.section-title {
  margin-bottom: 40px;
}

.btn-round.btn-primary {
  padding: 10px 25px;
  font-size: 15px;
  border-radius: 50px;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn-round.btn-alt {
  background-color: #fff;
  color: $main-color;
}